In [1]:
import pandas as pd
import seaborn as sns
import pandas_gbq
import tqdm
from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file(
    'trumid-case-8a70bafcd63d.json',
)
pandas_gbq.context.credentials = credentials

In [2]:
# Update the in-memory credentials cache (added in pandas-gbq 0.7.0).
pandas_gbq.context.credentials = credentials
pandas_gbq.context.project = "trumid-case"

In [3]:

# The credentials and project_id arguments can be omitted.
pandas_gbq.read_gbq("SELECT * FROM `trumid-case.thelook_ecommerce.products` LIMIT 100")

Downloading: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████|

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,27569,92.652563,Swim,2XU Men's Swimmers Compression Long Sleeve Top,2XU,150.410004,Men,B23C5765E165D83AA924FA8F13C05F25,1
1,27445,24.719661,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,38.990002,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1
2,27457,15.897600,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600000,Men,8F831227B0EB6C6D09A0555531365933,1
3,27466,17.850000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.000000,Men,67317D6DCC4CB778AEB9219565F5456B,1
4,27481,29.408001,Swim,TYR Alliance Team Splice Jammer,TYR,45.950001,Men,213C888198806EF1A0E2BBF2F4855C6C,1
...,...,...,...,...,...,...,...,...,...
95,28186,20.576999,Swim,Rip Curl Mirage Flex Accelerate,Rip Curl,36.099998,Men,ADD6AB8551D16AA6FBE68C50F740CC94,1
96,28264,23.101399,Swim,Rip Curl Wetsuits Men's Mirage Flex Freedom Bo...,Rip Curl,40.599998,Men,BC42A91889FFC14111C4EAE0557C5259,1
97,28265,23.975520,Swim,Rip Curl Wetsuits Men's Mirage Core Boardshort,Rip Curl,40.160000,Men,1A7DA998DED68C09B6FB68853539E59A,1
98,28273,23.895541,Swim,Rip Curl Wetsuits Men's Lurid Boardshort Board...,Rip Curl,36.990002,Men,373590403F80D686F78B18A45DDD22EF,1
99,28288,45.891298,Swim,Rip Curl Men's Dawn Patrol Long Sleeve Jacket,Rip Curl,79.949997,Men,D1AD628529079C3394DAB80EBDF3604E,1

In [4]:

# The credentials and project_id arguments can be omitted.
pandas_gbq.read_gbq("SELECT category, brand, department, count(id), avg(cost), avg(retail_price) FROM `trumid-case.thelook_ecommerce.products` group by category, brand, department")

Downloading: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████|

,category,brand,department,f0_,f1_,f2_
0,Swim,2XU,Men,1,92.652563,150.410004
1,Swim,TYR,Men,17,21.204881,35.254706
2,Swim,Onia,Men,2,83.625000,137.500000
3,Swim,2EROS,Men,1,31.808000,56.000000
4,Swim,Matix,Men,1,23.119791,40.490002
...,...,...,...,...,...,...
6443,Fashion Hoodies & Sweatshirts,Ralph Lauren,Women,3,45.566279,96.493332
6444,Fashion Hoodies & Sweatshirts,Under Armour,Women,1,34.045459,74.989998
6445,Fashion Hoodies & Sweatshirts,Comfort Colors,Women,4,18.525815,41.490000
6446,Fashion Hoodies & Sweatshirts,DV by Dolce Vita,Women,1,17.674240,34.520000
6447,Fashion Hoodies & Sweatshirts,Independent Trading Co,Women,1,17.533261,36.990002